
/* ========================================
   SILVER RATES CSS - Optimized for GitHub Pages
   Complete Silver-specific styles
   ======================================== */

/* Silver Responsive Design */
@media screen and (max-width: 600px) {
  .silvrbox li {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .silvrbox li {
    width: 45%;
  }
}

/* Main Silver Container */
.silvrbox {
  background-color: #f2f2f2;
  list-style-type: none;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  min-width: 270px;
  box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
  overflow-x: auto;
}

.silvrbox ul {
  text-align: center;
}

.silvrbox li {
  display: inline-block;
  font-size: 16px;
  width: 95%;
  height: 95%;
  text-align: center;
  margin: 5px;
  min-inline-size: 250px;
}

/* Silver List Items */
.silvrli {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.slvr_ggram {
  font-size: 18px;
  text-align: center;
}

/* Silver Price Display */
#silvr_pricet {
  align-items: center;
  text-align: center;
  font-size: 24px;
}

/* Silver Date & Title */
.sudate {
  float: left;
  text-align: left;
  background: #ff0;
}

.silvr_title {
  float: left;
}

.silvrcity {
  float: right;
  text-align: right;
  display: none;
}

/* Silver Data Tables */
.displaydata {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  text-align: center;
}

.displaydata th, .displaydata td {
  border: 1px solid black;
}

.displaydata table tr:first-child {
  background-color: #dffbde;
}

.displaydata tr:nth-child(odd) {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  flex-basis: 100%;
}

.displaydata tr:nth-child(even) {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  flex-basis: 100%;
  text-align: center;
}

.displaydata th {
  background: #dffbde;
  border: 1px solid black;
}

/* Silver Table Containers */
#silvr_gramtbl {
  overflow-x: auto;
  width: 100%;
  height: 145px;
  text-align: center;
  font-size: 20px;
}

#data_table1, #data_table2 {
  overflow-x: auto;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
